<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.news.mapper.NewMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.news.bean.New">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
  </resultMap>
  <resultMap id="BaseMap2" type="com.cskaoyan.news.bean.NewVo">
    <association property="news" javaType="com.cskaoyan.news.bean.New">
      <result column="id" jdbcType="INTEGER" property="id" />
      <result column="title" jdbcType="VARCHAR" property="title" />
      <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
      <result column="image" jdbcType="VARCHAR" property="image" />
      <result column="link" jdbcType="VARCHAR" property="link" />
      <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
      <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    </association>
    <association property="user"  javaType="com.cskaoyan.news.bean.User">
      <result  column="uid" property="id"/>
      <result column="username" property="username"/>
      <result column="password" property="password"/>
      <result column="head_url" property="headUrl"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    news.id, title, comment_count, image, link, created_date, like_count,uid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.news.bean.New">
    insert into news (id, title, commentCount, 
      image, link, createdDate, 
      likeCount)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{commentcount,jdbcType=INTEGER}, 
      #{image,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, #{createddate,jdbcType=TIMESTAMP}, 
      #{likecount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.news.bean.New">
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="likeCount != null">
        like_count,
      </if>
      <if test="uid != null">
            uid
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=INTEGER},
      </if>
        <if test="uid != null">
            #{uid,jdbcType=INTEGER},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.news.bean.New">
    update news
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="commentcount != null">
        commentCount = #{commentcount,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="createddate != null">
        createdDate = #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="likecount != null">
        likeCount = #{likecount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.news.bean.New">
    update news
    set title = #{title,jdbcType=VARCHAR},
      commentCount = #{commentcount,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      createdDate = #{createddate,jdbcType=TIMESTAMP},
      likeCount = #{likecount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findNew" resultMap="BaseMap2">
    select  <include refid="Base_Column_List"/> ,username,
    password,head_url  from news left join t_user on news.uid=t_user.id

  order BY created_date  desc
    limit 10
  </select>
</mapper>






<!--

<resultMap id="VoMap" type="com.cskaoyan.news.bean.ConversationVo">
<association property="conversation"  javaType="com.cskaoyan.news.bean.Conversation">
  <result column="id" jdbcType="VARCHAR" property="id" />
  <result column="from_id" jdbcType="INTEGER" property="fromId" />
  <result column="to_id" jdbcType="INTEGER" property="toId" />
  <result column="conversionid" jdbcType="VARCHAR" property="conversionid" />
  <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
</association>
<association property="user" column="from_id" select="com.cskaoyan.news.mapper.UserMapper.getUserById"
/>  </resultMap>--><!--
<select id="selectConversation" resultMap="VoMap">
select *  from conversation  where to_id=#{id}
</select>-->